!!!
html
  head
    title Blog Demo
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js")
  #header
    h1 Awesome Lazyboy blog Example
  body!= body
